################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReCapProject2/FileContentIndex/3618262d-299e-40b8-8958-81918dfa2423.vsidx
/.vs/ReCapProject2/FileContentIndex
